.THIS {
    font-size: 18px;
    background-color: #F7FFF7 !important; 
    border: 2px solid #1A535C !important; 
    border-radius: 8px;
}

.THIS h2{
    font-size: 24px;
    color: #1A535C;
    font-weight: bold;
    text-align: center;
}