.container{
  background-color: #4ECDC4;
  width: 25vw; 
  height: 90vh;
}

.unorderedList{
  padding: 3vh 0 0 0; 
  list-style-type: none;
  size: 3em;
}
.liElement{
  height: 3.5em;
  margin: 0;
  width: 100%; 
  display:flex;
  align-items: center;
  justify-content: center;
  
}

li:hover{
  background-color: #F7FFF7;
  border-left: 2px solid #FF6B6B;
}
li:hover a{
  color: #FF6B6B;
}
a{
  text-decoration: none!important;
  color: #FFE66D;
  font-weight: bold;
  font-size: 1.2em;
} 


/* li:active{
  background-color: #F7FFF7;
  border-left: 5px solid #FFE66D; 
}
li:active a{
  color: #FF6B6B;
} */
